
    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.
<abbr title="attribute">attr</abbr>
        </p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>


<!-- Scaleable pictures -->
<%=image_tag("twitter-bird2-webtreats.png", class: "bird img-responsive")%>

<!-- User to describe pollionaire -->
<abbr title="attribute">attr</abbr>



<div class="row">
  <div class="col-md-4">.col-md-4</div>


<div class="jumbotron col-md-4">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</div>

<div class="col-md-4">.col-md-4</div>
</div>



<!-- user for senseless quote about luck or so -->
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
</blockquote>


<!-- checkmark icon -->
<!-- .glyphicon .glyphicon-check -->

<!-- Circle with X -->
<!-- .glyphicon .glyphicon-remove-circle -->


pollionaire/ username --> pick username (see if there or not)
if so lock in with email
points for sharing

-- Blurred background and modal with rounded edges



Success!
Your Canva username has been locked in. Stay tuned for an email letting you know when your account is available.
If you'd like to stay up with the latest news, you should follow us:

